/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('shippic.jpg');
    background-size: cover;
}
/*body {
    background-image: url('shippic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    padding: 0;
    margin: auto;
    
}*/

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

/* Rest of your CSS styles */

.header {
    display: flex;
    background-color:transparent;
    padding: 10px;
}

    .header img {
        float: right;
    }

    .header h1 {
        margin-left: 70%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: royalblue;
        padding: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

.details-section {
    flex: 1;
    margin-right: 20px;
}

.track-section {
    position: fixed;
    opacity: 0.9;
    top: 100px;
    
    height: 200px;
    width: 350px;
    background-color: lightsteelblue;
    border: 1px solid; /* light blue accent */
    padding: 20px;
    border-radius: 5px;
    outline-style: auto;
    outline-color: lightblue;
}

.textbox {
    position:center;
    padding: 10px;
    width:250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin:20px;
}

.button {
    position:center;
    left:50%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin:10px;
}

.login-section {
    position: fixed;
    opacity: 0.9;
    top: 100px;
    right: 100px;
    height: 300px;
    width: 350px;
    background-color: lightsteelblue;
    border: 1px solid; /* light blue accent */
    padding: 20px;
    border-radius: 5px;
    outline-style: auto;
    outline-color: lightblue;
}

    .login-section input[type="text"],
    .login-section input[type="password"] {
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        height: 30px;
        width: 200px;
        position: relative;
        left: 20px;
        padding-left: 20px; /* Adjust the value to move the placeholder text */
        box-sizing: border-box; /* Make sure the padding doesn't increase the width of the input box */
        background-position: left center; /* Move the background image (i.e. placeholder text) to the left center */
        background-repeat: no-repeat; /* Don't repeat the background image */
    }


.row {
    margin-bottom: 10px;
}

.dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width:100px;
    margin:10px;
    position:center;
}

.footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

.gridview-container {
    margin-top:0px;
    background-color:whitesmoke;
    width:400px;
    position:center;
    margin-left:35%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
